<h1>Add</h1>

<form action="/products/add" method="POST">
	Description: <input type="text" name="products_name" value="{{products_name}}">
	
	<select>
	{{#categories}}
		<option value="{{category_id}}">{{category_name}}</option>
	{{/categories}}
	</select>
		<input type="submit">
</form>
