<h1>Add a category</h1>

	<form action = "/categories/addCategories" method = "POST">
		Enter new category: <input type="text" name="category_name" value="{{category_name}}">
		
		<input type="submit">	
	</form>
