<a href="/categories/addCategories" class="btn btn-default" role="button">
<span class="glyphicon glyphicon-plus" area-hidden="true"></span>Add Category</a>
<div class="table-responsive">
<table class ="table table-striped" >
	<thead>
		<tr>
			<th>Category id</th>
			<th>Category Name</th>
		</tr>
	</thead>
	<tbody>
		{{#categories}}
		<tr>
			<td>{{category_id}}</td>
			<td>{{category_name}}</td>

			<td><a href="/categories/editCategories/{{category_id}}"><span class="glyphicon glyphicon-pencil" area-hidden="true"></span> Edit</a></td>
			<td><a href="/categories/delete/{{category_id}}"><span class="glyphicon glyphicon-trash" area-hidden="true"></span> Delete</a></td>
		</tr>
		{{/categories}}
	</tbody>

</table>
</div>
