<h1>Edit supplier name</h1>

{{#data}}
<form action ="/suppliers/updateSuppliers/{{supplier_id}}" method ="POST">

	Enter supplier name: <input type="text" name="supplier_name" value="{{supplier_name}}">
	
	<input type = "submit">
	
</form>
{{/data}}