<h1>App: Nelisa Spaza</h1>
<div id="page">
	<ul id="navigation">
		<li><a href="/allProducts">Products</a></li>
		<li><a href="/Category">Category List</a></li>
		<li><a href="/popularP">Most Popular Product</a></li>
		<li><a href="/popularC">Most Popular Category </a></li>
		<li><a href="/leastPopularP">Least Popular Product</a></li>
		<li><a href="/leastPopularC">Least Popular Category</a></li>
	</ul>
</div>