<h1>Nelisa Spaza</h1>

<!-- Dark Menu Begin -->
<ul class="dark_menu">
    <li><a href="/" class="selected">Home</a></li>
    <li>
        <a href="/allProducts">Products</a>
        <!-- Sub Menu Begin -->
        <ul>
            <li><a href="/popularP">Most Popular Product</a></li>
            <li><a href="/leastPopularP">Least Popular Product</a></li>
        </ul>
        <!-- Sub Menu End -->
    </li>
    <li>
        <a href="/Category">Category List</a>
        <!-- Sub Menu Begin -->
        <ul>
            <li><a href="/popularC">Most Popular Category </a></li>
            <li><a href="/leastPopularC">Least Popular Category</a></li>
        </ul>
        <!-- Sub Menu End -->
    </li>
</ul>
<!-- Dark Menu End -->