{{#if username}}
		hello, {{username}}
{{/if}}
	<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    		<div class="" id="loginModal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3>Welcome Nelisa Spaza</h3>
              </div>
              <div class="modal-body">
                <div class="well">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                    <li ><a href="#create" data-toggle="tab">Create Account</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="login">
                      <form class="" action='/login' method="POST">
                        <fieldset>

                          <div class="form-group">
                            <!-- Username -->
                              <input type="text" id="username" name="username" placeholder="Username" class="form-control input-sm">
                            </div>

                          <div class="form-group">
                            <!-- Password-->
                              <input type="password" id="password" name="password" placeholder="Password" class="form-control input-sm">
                            </div>
                            <!-- Button -->
                        <input class="btn btn-info btn-block" type="submit" value="login" >
                        </fieldset>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="create">
                      <form role="form" id="tab" action='/register' method="POST">
                      	<div class="row">

        					<div class="form-group">
            					<input type="text" name="username" id="username" class="form-control input-sm" placeholder="Username">
        					</div>

    					</div>

			    		<div class="row">
			    				<div class="form-group">
			    					<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    			</div>
			    				<div class="form-group">
			    					<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
			    				</div>
			    		</div>

			    		<input type="submit" value="Register" class="btn btn-info btn-block">

                      </form>
                    </div>
                </div>
              </div>
            </div>
        </div>
	</div>
</div>
