<h1>Least Popular Category</h1>

<table class = "table table-striped" >
<thead>
	<tr>
		<th>Category name</th>
		<th>Quantity</th>
	</tr>
</thead>
<tbody>
	{{#leastPopularCategory}}
		<tr>
			<td>{{category_name}}</td>
			<td>{{qty}}</td>
		</tr>
	{{/leastPopularCategory}}
</tbody>
</table>