<h1>Least Popular Product</h1>
<table class="table">
	<thead>
		<th>Product</th>
		<th>Amount</th>
	</thead>
{{#products}}
	<tr>
		<td>{{Product}}</td>
		<td>{{Amount}}</td>
	</tr>
{{/products}}

</table>
