<h1>Most Popular Category</h1>
<table class="table">
	<thead>
		<th>Product Name</th>
		<th>Amount</th>
	</thead>

{{#products}}
	<tr>
		<td>{{Category}}</td>
		<td>{{Amount}}</td>
	</tr>
{{/products}}

</table>
