<table class ="table table-striped" >
	<thead>
		<tr>
			<th>Product</th>
			<th>Category</th>
		</tr>
	</thead>
	<tbody>
		{{#products}}
		<tr>
			<td>{{products_name}}</td>
			<td>{{category_name}}</td>
		</tr>
		{{/products}}
	</tbody>

</table>
</div>
